<div class="container intro-container" style="padding-bottom: 20px;">
    <h3 style="font-weight: 400">{{ site.skill_title | default: "Skill Set" }}</h3>
    <div style="float: left; width: 50%;">
        {% for skill in site.data.skill-left %}
            {% include {{ skill.layout | default: 'left' | append: ".html" }} item=skill %}
        {% endfor %}
    </div>
    <div style="float: right; width: 50%;">
        {% for skill in site.data.skill-right %}
            {% include {{ skill.layout | default: 'left' | append: ".html" }} item=skill %}
        {% endfor %}
    </div>
</div>